<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table">
    <div class="field">
      <tr><%= form.label :name, "Nome" %> </tr>
      <tr><%= form.text_field :name %></tr>
    </div>
    <div class="field">
      <tr><%= form.label :registration, 'Matrícula' %></tr>
      <tr><%= form.text_field :registration %></tr>
    </div>
    
    <div class="field">
      <tr><%= form.label :admission, 'Curso' %></tr>
      <tr><%= form.text_field :admission %></tr>
    </div>
  </table>
  <% if !@pc_id.nil? %>
    <%= hidden_field(:student, :pc, value: @pc_id ) %>
  <% else %>
    <%= hidden_field(:student, :pc, value: 0 ) %>
  <% end %>
  <div class="actions">
    <%= form.submit "Continuar", class: "btn btn-success" %>
  </div>
<% end %>
