<%= form_with(model: pc_usage, local: true) do |form| %>
  <% if pc_usage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pc_usage.errors.count, "error") %> prohibited this pc_usage from being saved:</h2>

      <ul>
      <% pc_usage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table class="table">
    <% if @pc_usage.student_id.nil? %>
      <div class="field">
        <tr><%= form.label :student_id, "Matrícula" %></tr>
        <tr><%= form.text_field :student_id %></tr>
      </div>
    <% else %>
      <%= hidden_field(:pc_usage, :student_id, value: @pc_usage.student_id ) %>
    <% end %>

    <div class="field">
      <tr><%= form.label :pc_id, "Nº do PC" %></tr>
      <tr><%= form.text_field :pc_id %></tr>
    </div>
  </table>
  <div class="actions"> 
    <%= form.submit "Salvar", class: "btn btn-success" %>
  </div>
  
<% end %>
