<style>
  .radio_container {
    border: 1px solid gray;
    display: inline-block;
    margin: 1px -1px;
    border-radius: 5px;
    vertical-align: middle;
    padding: 3px 3px 3px 3px;
    width: 50px;
  }

  .radio_container label {
    margin: 0px; 
  }

  .row {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    padding: 1px 3px;
    margin: 2px 4px;
  }
</style>

<%= form_with(model: pc_usage, local: true) do |form| %>
  <% if pc_usage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pc_usage.errors.count, "error") %> prohibited this pc_usage from being saved:</h2>

      <ul>
      <% pc_usage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <% if @pc_usage.student_id.nil? %>
      <div class="field">
        <%= form.label :student_id, "Matrícula" %>
        <%= form.text_field :student_id %>
      </div>
    <% else %>
      <%= hidden_field(:pc_usage, :student_id, value: @pc_usage.student_id ) %>
    <% end %>

    <div class="field">
      PC:
      <br> <!-- primeira fileira -->
      <div class="row">
        <% x = 1 %>
      <% if @pc_info[x].status.upcase.eql?('OK') %>
        <div class="radio_container" style="background-color: #43db50;">
      <% elsif pc_info[x].status.upcase.eql?('DEFEITO') %>
        <div class="radio_container" style="background-color: red;">
      <% else %>
        <div class="radio_container" style="background-color: yellow;">
      <% end %>
          <%= form.label :pc_id_2, "24" %>
          <% x +=1 %>
          <% if PcUsage.where(pc_id: x).where(end_at: nil).count > 0 %>
            <%= form.radio_button :pc_id, x, disabled: true %>
          <% else %>
            <%= form.radio_button :pc_id, x %>
          <% end %>  
        </div>
      <% if @pc_info[x].status.upcase.eql?('OK') %>
        <div class="radio_container" style="background-color: #43db50;">
      <% elsif pc_info[x].status.upcase.eql?('DEFEITO') %>
        <div class="radio_container" style="background-color: red;">
      <% else %>
        <div class="radio_container" style="background-color: yellow;">
      <% end %>
          <%= form.label :pc_id_3, "23" %>
          <% x +=1 %>
          <% if PcUsage.where(pc_id: x).where(end_at: nil).count > 0 %>
            <%= form.radio_button :pc_id, x, disabled: true %>
          <% else %>
            <%= form.radio_button :pc_id, x %>
          <% end %>
        </div>
      <% if @pc_info[x].status.upcase.eql?('OK') %>
        <div class="radio_container" style="background-color: #43db50;">
      <% elsif pc_info[x].status.upcase.eql?('DEFEITO') %>
        <div class="radio_container" style="background-color: red;">
      <% else %>
        <div class="radio_container" style="background-color: yellow;">
      <% end %>
          <%= form.label :pc_id_4, "06"  %>
          <% x +=1 %>
          <% if PcUsage.where(pc_id: x).where(end_at: nil).count > 0 %>
            <%= form.radio_button :pc_id, x, disabled: true %>
          <% else %>
            <%= form.radio_button :pc_id, x %>
          <% end %>
        </div>
      </div>
      <div class="row">
      <% if @pc_info[x].status.upcase.eql?('OK') %>
        <div class="radio_container" style="background-color: #43db50;">
      <% elsif pc_info[x].status.upcase.eql?('DEFEITO') %>
        <div class="radio_container" style="background-color: red;">
      <% else %>
        <div class="radio_container" style="background-color: yellow;">
      <% end %>
          <%= form.label :pc_id_5, "SN" %>
          <% x +=1 %>
          <% if PcUsage.where(pc_id: x).where(end_at: nil).count > 0 %>
            <%= form.radio_button :pc_id, x, disabled: true %>
          <% else %>
            <%= form.radio_button :pc_id, x %>
          <% end %>
        </div>
      <% if @pc_info[x].status.upcase.eql?('OK') %>
        <div class="radio_container" style="background-color: #43db50;">
      <% elsif pc_info[x].status.upcase.eql?('DEFEITO') %>
        <div class="radio_container" style="background-color: red;">
      <% else %>
        <div class="radio_container" style="background-color: yellow;">
      <% end %>
          <%= form.label :pc_id_6, "SN" %>
          <% x +=1 %>
          <% if PcUsage.where(pc_id: x).where(end_at: nil).count > 0 %>
            <%= form.radio_button :pc_id, x, disabled: true %>
          <% else %>
            <%= form.radio_button :pc_id, x %>
          <% end %>
        </div>
      <% if @pc_info[x].status.upcase.eql?('OK') %>
        <div class="radio_container" style="background-color: #43db50;">
      <% elsif pc_info[x].status.upcase.eql?('DEFEITO') %>
        <div class="radio_container" style="background-color: red;">
      <% else %>
        <div class="radio_container" style="background-color: yellow;">
      <% end %>
          <%= form.label :pc_id_7, "SN"  %>
          <% x +=1 %>
          <% if PcUsage.where(pc_id: x).where(end_at: nil).count > 0 %>
            <%= form.radio_button :pc_id, x, disabled: true %>
          <% else %>
            <%= form.radio_button :pc_id, x %>
          <% end %>
        </div>
      </div>
      <br> <!-- segunda fileira -->
      <div class="row">
      <% if @pc_info[x].status.upcase.eql?('OK') %>
        <div class="radio_container" style="background-color: #43db50;">
      <% elsif pc_info[x].status.upcase.eql?('DEFEITO') %>
        <div class="radio_container" style="background-color: red;">
      <% else %>
        <div class="radio_container" style="background-color: yellow;">
      <% end %>
          <%= form.label :pc_id_8, "18" %>
          <% x +=1 %>
          <% if PcUsage.where(pc_id: x).where(end_at: nil).count > 0 %>
            <%= form.radio_button :pc_id, x, disabled: true %>
          <% else %>
            <%= form.radio_button :pc_id, x %>
          <% end %>
        </div>
      <% if @pc_info[x].status.upcase.eql?('OK') %>
        <div class="radio_container" style="background-color: #43db50;">
      <% elsif pc_info[x].status.upcase.eql?('DEFEITO') %>
        <div class="radio_container" style="background-color: red;">
      <% else %>
        <div class="radio_container" style="background-color: yellow;">
      <% end %>
          <%= form.label :pc_id_9, "17" %>
          <% x +=1 %>
          <% if PcUsage.where(pc_id: x).where(end_at: nil).count > 0 %>
            <%= form.radio_button :pc_id, x, disabled: true %>
          <% else %>
            <%= form.radio_button :pc_id, x %>
          <% end %>
        </div>
      <% if @pc_info[x].status.upcase.eql?('OK') %>
        <div class="radio_container" style="background-color: #43db50;">
      <% elsif pc_info[x].status.upcase.eql?('DEFEITO') %>
        <div class="radio_container" style="background-color: red;">
      <% else %>
        <div class="radio_container" style="background-color: yellow;">
      <% end %>
          <%= form.label :pc_id, "16"  %>
          <% x +=1 %>
          <% if PcUsage.where(pc_id: x).where(end_at: nil).count > 0 %>
            <%= form.radio_button :pc_id, x, disabled: true %>
          <% else %>
            <%= form.radio_button :pc_id, x %>
          <% end %>
        </div>
      </div>
      <div class="row">
      <% if @pc_info[x].status.upcase.eql?('OK') %>
        <div class="radio_container" style="background-color: #43db50;">
      <% elsif pc_info[x].status.upcase.eql?('DEFEITO') %>
        <div class="radio_container" style="background-color: red;">
      <% else %>
        <div class="radio_container" style="background-color: yellow;">
      <% end %>
          <%= form.label :pc_id, "SN" %>
          <% x +=1 %>
          <% if PcUsage.where(pc_id: x).where(end_at: nil).count > 0 %>
            <%= form.radio_button :pc_id, x, disabled: true %>
          <% else %>
            <%= form.radio_button :pc_id, x %>
          <% end %>
        </div>
      <% if @pc_info[x].status.upcase.eql?('OK') %>
        <div class="radio_container" style="background-color: #43db50;">
      <% elsif pc_info[x].status.upcase.eql?('DEFEITO') %>
        <div class="radio_container" style="background-color: red;">
      <% else %>
        <div class="radio_container" style="background-color: yellow;">
      <% end %>
          <%= form.label :pc_id, "SN" %>
          <% x +=1 %>
          <% if PcUsage.where(pc_id: x).where(end_at: nil).count > 0 %>
            <%= form.radio_button :pc_id, x, disabled: true %>
          <% else %>
            <%= form.radio_button :pc_id, x %>
          <% end %>
        </div>
      <% if @pc_info[x].status.upcase.eql?('OK') %>
        <div class="radio_container" style="background-color: #43db50;">
      <% elsif pc_info[x].status.upcase.eql?('DEFEITO') %>
        <div class="radio_container" style="background-color: red;">
      <% else %>
        <div class="radio_container" style="background-color: yellow;">
      <% end %>
          <%= form.label :pc_id, "SN"  %>
          <% x +=1 %>
          <% if PcUsage.where(pc_id: x).where(end_at: nil).count > 0 %>
            <%= form.radio_button :pc_id, x, disabled: true %>
          <% else %>
            <%= form.radio_button :pc_id, x %>
          <% end %>
        </div>
      </div>
      <br> <!-- terceira fileira -->
      <div class="row">
      <% if @pc_info[x].status.upcase.eql?('OK') %>
        <div class="radio_container" style="background-color: #43db50;">
      <% elsif pc_info[x].status.upcase.eql?('DEFEITO') %>
        <div class="radio_container" style="background-color: red;">
      <% else %>
        <div class="radio_container" style="background-color: yellow;">
      <% end %>
          <%= form.label :pc_id, "15" %>
          <% x +=1 %>
          <% if PcUsage.where(pc_id: x).where(end_at: nil).count > 0 %>
            <%= form.radio_button :pc_id, x, disabled: true %>
          <% else %>
            <%= form.radio_button :pc_id, x %>
          <% end %>
        </div>
      <% if @pc_info[x].status.upcase.eql?('OK') %>
        <div class="radio_container" style="background-color: #43db50;">
      <% elsif pc_info[x].status.upcase.eql?('DEFEITO') %>
        <div class="radio_container" style="background-color: red;">
      <% else %>
        <div class="radio_container" style="background-color: yellow;">
      <% end %>
          <%= form.label :pc_id, "22" %>
          <% x +=1 %>
          <% if PcUsage.where(pc_id: x).where(end_at: nil).count > 0 %>
            <%= form.radio_button :pc_id, x, disabled: true %>
          <% else %>
            <%= form.radio_button :pc_id, x %>
          <% end %>
        </div>
      <% if @pc_info[x].status.upcase.eql?('OK') %>
        <div class="radio_container" style="background-color: #43db50;">
      <% elsif pc_info[x].status.upcase.eql?('DEFEITO') %>
        <div class="radio_container" style="background-color: red;">
      <% else %>
        <div class="radio_container" style="background-color: yellow;">
      <% end %>
          <%= form.label :pc_id, "11"  %>
          <% x +=1 %>
          <% if PcUsage.where(pc_id: x).where(end_at: nil).count > 0 %>
            <%= form.radio_button :pc_id, x, disabled: true %>
          <% else %>
            <%= form.radio_button :pc_id, x %>
          <% end %>
        </div>
      </div>
      <div class="row">
      <% if @pc_info[x].status.upcase.eql?('OK') %>
        <div class="radio_container" style="background-color: #43db50;">
      <% elsif pc_info[x].status.upcase.eql?('DEFEITO') %>
        <div class="radio_container" style="background-color: red;">
      <% else %>
        <div class="radio_container" style="background-color: yellow;">
      <% end %>
          <%= form.label :pc_id, "05" %>
          <% x +=1 %>
          <% if PcUsage.where(pc_id: x).where(end_at: nil).count > 0 %>
            <%= form.radio_button :pc_id, x, disabled: true %>
          <% else %>
            <%= form.radio_button :pc_id, x %>
          <% end %>
        </div>
      <% if @pc_info[x].status.upcase.eql?('OK') %>
        <div class="radio_container" style="background-color: #43db50;">
      <% elsif pc_info[x].status.upcase.eql?('DEFEITO') %>
        <div class="radio_container" style="background-color: red;">
      <% else %>
        <div class="radio_container" style="background-color: yellow;">
      <% end %>
          <%= form.label :pc_id, "12" %>
          <% x +=1 %>
          <% if PcUsage.where(pc_id: x).where(end_at: nil).count > 0 %>
            <%= form.radio_button :pc_id, x, disabled: true %>
          <% else %>
            <%= form.radio_button :pc_id, x %>
          <% end %>
        </div>
      <% if @pc_info[x].status.upcase.eql?('OK') %>
        <div class="radio_container" style="background-color: #43db50;">
      <% elsif pc_info[x].status.upcase.eql?('DEFEITO') %>
        <div class="radio_container" style="background-color: red;">
      <% else %>
        <div class="radio_container" style="background-color: yellow;">
      <% end %>
          <%= form.label :pc_id, "SN"  %>
          <% x +=1 %>
          <% if PcUsage.where(pc_id: x).where(end_at: nil).count > 0 %>
            <%= form.radio_button :pc_id, x, disabled: true %>
          <% else %>
            <%= form.radio_button :pc_id, x %>
          <% end %>
        </div>
      </div>
      <br> <!-- quarta fileira -->
      <div class="row">
      <% if @pc_info[x].status.upcase.eql?('OK') %>
        <div class="radio_container" style="background-color: #43db50;">
      <% elsif pc_info[x].status.upcase.eql?('DEFEITO') %>
        <div class="radio_container" style="background-color: red;">
      <% else %>
        <div class="radio_container" style="background-color: yellow;">
      <% end %>
          <%= form.label :pc_id, "SN" %>
          <% x +=1 %>
          <% if PcUsage.where(pc_id: x).where(end_at: nil).count > 0 %>
            <%= form.radio_button :pc_id, x, disabled: true %>
          <% else %>
            <%= form.radio_button :pc_id, x %>
          <% end %>
        </div>
      <% if @pc_info[x].status.upcase.eql?('OK') %>
        <div class="radio_container" style="background-color: #43db50;">
      <% elsif pc_info[x].status.upcase.eql?('DEFEITO') %>
        <div class="radio_container" style="background-color: red;">
      <% else %>
        <div class="radio_container" style="background-color: yellow;">
      <% end %>
          <%= form.label :pc_id, "SN" %>
          <% x +=1 %>
          <% if PcUsage.where(pc_id: x).where(end_at: nil).count > 0 %>
            <%= form.radio_button :pc_id, x, disabled: true %>
          <% else %>
            <%= form.radio_button :pc_id, x %>
          <% end %>
        </div>
      <% if @pc_info[x].status.upcase.eql?('OK') %>
        <div class="radio_container" style="background-color: #43db50;">
      <% elsif pc_info[x].status.upcase.eql?('DEFEITO') %>
        <div class="radio_container" style="background-color: red;">
      <% else %>
        <div class="radio_container" style="background-color: yellow;">
      <% end %>
          <%= form.label :pc_id, "01"  %>
          <% x +=1 %>
          <% if PcUsage.where(pc_id: x).where(end_at: nil).count > 0 %>
            <%= form.radio_button :pc_id, x, disabled: true %>
          <% else %>
            <%= form.radio_button :pc_id, x %>
          <% end %>
        </div>
      </div>
      <div class="row">
      <% if @pc_info[x].status.upcase.eql?('OK') %>
        <div class="radio_container" style="background-color: #43db50;">
      <% elsif pc_info[x].status.upcase.eql?('DEFEITO') %>
        <div class="radio_container" style="background-color: red;">
      <% else %>
        <div class="radio_container" style="background-color: yellow;">
      <% end %>
          <%= form.label :pc_id, "SN" %>
          <% x +=1 %>
          <% if PcUsage.where(pc_id: x).where(end_at: nil).count > 0 %>
            <%= form.radio_button :pc_id, x, disabled: true %>
          <% else %>
            <%= form.radio_button :pc_id, x %>
          <% end %>
        </div>
      <% if @pc_info[x].status.upcase.eql?('OK') %>
        <div class="radio_container" style="background-color: #43db50;">
      <% elsif pc_info[x].status.upcase.eql?('DEFEITO') %>
        <div class="radio_container" style="background-color: red;">
      <% else %>
        <div class="radio_container" style="background-color: yellow;">
      <% end %>
          <%= form.label :pc_id, "SN" %>
          <% x +=1 %>
          <% if PcUsage.where(pc_id: x).where(end_at: nil).count > 0 %>
            <%= form.radio_button :pc_id, x, disabled: true %>
          <% else %>
            <%= form.radio_button :pc_id, x %>
          <% end %>
        </div>
      <% if @pc_info[x].status.upcase.eql?('OK') %>
        <div class="radio_container" style="background-color: #43db50;">
      <% elsif pc_info[x].status.upcase.eql?('DEFEITO') %>
        <div class="radio_container" style="background-color: red;">
      <% else %>
        <div class="radio_container" style="background-color: yellow;">
      <% end %>
          <%= form.label :pc_id, "SN"  %>
          <% x +=1 %>
          <% if PcUsage.where(pc_id: x).where(end_at: nil).count > 0 %>
            <%= form.radio_button :pc_id, x, disabled: true %>
          <% else %>
            <%= form.radio_button :pc_id, x %>
          <% end %>
        </div>
      </div>
      <br>
      <div class="row" style="background-color: #43db50;">
        <%= form.label :pc_id, "Notebook Pessoal"  %>
        <%= form.radio_button :pc_id, 1 %>
      </div>
    </div>
    <br>
  <div class="actions"> 
    <%= form.submit "Salvar", class: "btn btn-success" %>
  </div>
  
<% end %>

<!--
<br>
.checkbox input, .checkbox label{
    display: inline-block;
    vertical-align: middle;
}
.checkbox label{margin-right:20px;}

.input-area {
  width: 45px;
  display: inline-block;
}

.checkbox {
  display: inline-block;
  border: black solid 1px;
  margin: 1px -1px;
  padding: 2px;
  border-radius:5px;
  min-width: 150px;
}
-->