<style>
  td, tr {
    vertical-align: middle !important;
    text-align: center !important;
  }
</style>

<h1>Uso dos PCS - LACT3</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Matrícula</th>
      <th scope="col">Curso</th>
      <th scope="col">Pc</th>
      <th scope="col">Entrada</th>
      <th scope="col">Saída Esperada</th>
      <th scope="col">Saída Real</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @pc_usages.each do |pc_usage| %>
      <tr>
        <td><%= pc_usage.student.name %></td>
        <td><%= pc_usage.student.registration %></td>
        <td><%= pc_usage.student.admission %></td>
        <td><%= pc_usage.pc.number %></td>
        <% usage_time = pc_usage.start_at %>
        <td><%= usage_time.strftime("%d/%m/%Y às %T") %></td>
        <% usage_time += 1*60*60 %>
        <td><%= usage_time.strftime("%d/%m/%Y às %T") %></td>
        <% if pc_usage.end_at.nil? %> 
          <td><%= link_to 'ENCERRAR', finish_usage_path(pc_usage), class: "btn btn-warning" %></td>
        <% else %>
          <td><%= pc_usage.end_at.strftime("%d/%m/%Y às %T")  %></td>
        <% end %><!--
        <td><%# link_to 'Show', pc_usage %></td> -->
        <td><%= link_to 'Editar', edit_pc_usage_path(pc_usage), class: "btn btn-info" %></td>
        <td><%= link_to 'Remover', pc_usage, method: :delete, class: "btn btn-danger", data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
    <% @usage_log.each do |pc_usage| %>
      <tr style="background-color: gray; color: #FFF">
        <td><%= pc_usage.student.name %></td>
        <td><%= pc_usage.student.registration %></td>
        <td><%= pc_usage.student.admission %></td>
        <td><%= pc_usage.pc.number %></td>
        <% usage_time = pc_usage.start_at %>
        <td><%= usage_time.strftime("%d/%m/%Y às %T") %></td>
        <% usage_time += 1*60*60 %>
        <td><%= usage_time.strftime("%d/%m/%Y às %T") %></td>
        <% if pc_usage.end_at.nil? %> 
          <td><%= link_to 'ENCERRAR', finish_usage_path(pc_usage), class: "btn btn-warning" %></td>
        <% else %>
          <td><%= pc_usage.end_at.strftime("%d/%m/%Y às %T")  %></td>
        <% end %><!--
        <td><%# link_to 'Show', pc_usage %></td> -->
        <td><%= link_to 'Editar', edit_pc_usage_path(pc_usage), class: "btn btn-info" %></td>
        <td><%= link_to 'Remover', pc_usage, method: :delete, class: "btn btn-danger", data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Uso', new_pc_usage_path, class: "btn btn-success" %>
