<p id="notice"><%= notice %></p>

<h1>Pc Usages</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Pc</th>
      <th>Start at</th>
      <th>End at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pc_usages.each do |pc_usage| %>
      <tr>
        <td><%= pc_usage.student %></td>
        <td><%= pc_usage.pc %></td>
        <td><%= pc_usage.start_at %></td>
        <td><%= pc_usage.end_at %></td>
        <td><%= link_to 'Show', pc_usage %></td>
        <td><%= link_to 'Edit', edit_pc_usage_path(pc_usage) %></td>
        <td><%= link_to 'Destroy', pc_usage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pc Usage', new_pc_usage_path %>
